:root {
  --light-grey: #eeeeee;
  --mid-grey: #666666;
  --mid-dark-grey: #444444;
  --dark-grey: #4d4d4d;
  --border-grey: #DBDBDB;
  --store-page-grey: #dfdfdf;
  --store-page-active-grey: #d5d5d5;

  --light-pink: #fb565a;
  --dark-pink: #e74246;
  --very-dark-pink: #d7373b;

  --light-green: #00ca74;
  --dark-green: #00bc6c;
  --very-dark-green: #00aa62;

  --light-yellow: #efc849;
  --dark-yellow: #eab534;
  --very-dark-yellow: #e5a722;

  --bg-white: #ffffff;
  --bg-white-opacity: rgba(255, 255, 255, 0.3);
  --icon-color: #e1e1e1;
  --slider-shadow: #c1c1c1;

  --basic-black: #000000;
  --light-black: #283136;
  --button-shadow: rgba(0, 1, 1, 0.1);
  --catalog-border-special: rgba(0, 0, 0, 0.1);


  --range-special-scale: #d7dcde;
  --range-special-toggle: #ababab;
  --range-special-shadow: rgba(0, 0, 0, 0.15);
  --range-special-color: #283136;

  --modal-shadow: rgba(0, 0, 0, 0.4);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --input-border: #D7DCDE;
  --input-border-special: #B4B9BB;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Open sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--basic-black);
  background-color: var(--bg-white);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 20px;
  /* outline: 5px solid rgba(94, 9, 9, 0.3);
  outline-offset: -5px; */
}

/*header*/
.main-header {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 114px;
}

.main-logo {
  width: 160px;
  height: 65px;
  margin-top: auto;

}

.main-logo:active {
  opacity: 0.3;
}

.header,
.description {
  background-color: var(--light-grey);
}

.nav {

  display: flex;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);

  /* outline: 5px solid rgba(200, 255, 0, 0.3);
  outline-offset: -5px; */
}

.nav a {
  color: var(--basic-black);
}

.nav a:hover {
  color: var(--light-pink);
}

.nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-left: 202px;
  margin-top: auto;
  margin-bottom: 8px;
  padding: 0;

  list-style: none;

  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */

}

.nav li {
  position: relative;
  margin-left: 0;
  padding: 0;
}

.cart {
  position: relative;
  display: block;
  width: min-content;
  margin: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
}

.cart::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

.cart-link {
  padding-left: 40px;
}

.nav li:not(:last-child) {
  margin-right: 45px;
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-pink);
}

/* SLIDER */
.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider {
  /* position: relative; */
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
}

.sld {
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 555px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--bg-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  box-shadow: inset 0 0 0 5px var(--bg-white),
    inset 0 0 0 7px var(--slider-shadow);
}

.slider-list {

  padding: 0;
  margin: 0;
  list-style: none;
}

/* SLIDER-title */
.slider h2 {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 10px;
  font-size: 55px;
  line-height: 55px;

}

.slider-item-1 {
  height: 431px;
  background-image: url(../img/nerds-index-slide1.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.slider-item-2 {
  height: 431px;
  background-image: url(../img/nerds-index-slide2.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.slider-item-3 {
  height: 431px;
  background-image: url(../img/nerds-index-slide3.png);
  background-position: top right;
  background-repeat: no-repeat;
}

/* services */
.services {
  margin-top: 80px;

  padding-bottom: 80px;
  border-bottom: 2px solid var(--light-grey);
}

.services-container {
  display: grid;
  grid-template-columns: 400px 400px auto;
  justify-self: start;
  margin: 0;
  padding: 0;
}

.services-container img {
  width: 300px;
  height: 146px;
  margin: 0;
  background-color: var(--bg-white);
  object-fit: contain;
}

.services a {
  font-size: 16px;
  line-height: 18px;
  color: var(--bg-white);
}

.services h3 {
  margin-top: 18px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 40px;
  margin-bottom: 43px;
}

.info {
  color: var(--light-black);
}

.info h3 {
  margin-top: 32px;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 46px;
  font-weight: 500;
  color: var(--basic-black);
}

.info ul {
  padding-left: 32px;
  list-style: none;
}

.list-header {
  margin-top: 41px;
  margin-bottom: 23px;
  font-weight: bold;
  text-transform: uppercase;

}

.info li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 4px;
}

.info li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -32px;
  width: 25px;
  height: 2px;
  background-color: var(--light-pink);
}

/* benefits */
.benefits {
  margin-left: 28px;
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.benefits-header {
  margin-top: 31px;
  margin-left: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.benefits-list {
  margin-top: 29px;
  padding: 0;
}

.benefits li {
  margin: 0;
  list-style: none;
}

.benefits p {

  color: var(--light-black);
}

.benefits-list p {
  margin-top: 12px;
  line-height: 18px;
}

.benefits h4 {
  margin: 0;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

/* partners */

.partners {
  margin: 0;
  margin-bottom: 80px;
}

.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 180px;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);

}

.partners li {
  position: relative;
  align-self: center;
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style: none;
  /* outline: 1px solid rgba(0, 255, 255, 1);
  outline-offset: -1px; */
}

.partners li:nth-child(1) {
  margin-top: 20px;
  margin-right: 60px;

}

.partners li:nth-child(2) {
  margin-top: 10px;
  margin-right: 44px;
}

.partners li:nth-child(3) {
  margin-top: 10px;
  margin-right: 46px;
}

.partners li:nth-child(4) {
  margin-top: 13px;
  margin-right: 42px;
}

.partners li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -51px;
  width: 2px;
  height: 52px;
  background-color: var(--light-grey);
}

.partners li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 18px;
  right: -45px;
  width: 2px;
  height: 52px;
  background-color: var(--light-grey);
}

.partners li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -57px;
  width: 2px;
  height: 52px;
  background-color: var(--light-grey);
}



.partners a {
  opacity: 20%;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 10%;
}

.catalog-top {
  height: 242px;
  margin-bottom: 54px;
  background-color: var(--light-grey);
}

.catalog-top h1 {
  margin: 0;
  padding-top: 79px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}


.main-catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 140px;
  grid-template-rows: 78px 1fr;
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
}

.filters {
  grid-row: 1/-1;
  color: var(--light-black);
}

.filter ul {
  padding: 0;
  margin: 0;
  line-height: 19px;
  list-style: none;

}

.filter legend {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.filter fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

/* RANGE */
.filter .filter-cost {
  margin-bottom: 55px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--light-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-special-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--range-special-toggle);
  border: 8px solid var(--bg-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-special-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--light-black);
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 8px;
  text-align: center;
  color: inherit;
  border: none;
  border-radius: 5px;
  background: var(--light-grey);

}

/* GRID FILTER */

.filter .filter-grid {
  height: 190px;
  /* margin-bottom: 43px; */
}

.filter-grid legend {
  margin-bottom: 15px;
}

.filter-grid li {
  margin-bottom: 21px;
  /* padding-left: 36px; */
}

.filter-grid label {
  position: relative;
  padding-left: 36px;
  color: var(--light-black);
}

.input-grid {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.grid-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid var(--dark-grey);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.4;
}

.input-grid:hover+.grid-label::before,
.input-grid:focus+.grid-label::before {
  opacity: 1;
}

.input-grid:checked+.grid-label::before {
  background-color: var(--dark-grey);
  box-shadow: inset 0 0 0 4px var(--bg-white);
}

.input-grid:disabled+.grid-label {
  opacity: 0.3;
}

.input-grid:disabled+.grid-label::before {
  opacity: 0.25;
}

/* FEATURES FILTER */
.input-feature {
  position: absolute;
  appearance: none;
}


.filter .filter-features {
  height: 275px;
  /* margin-bottom: 48px; */
}

.filter-features legend {
  margin-bottom: 16px;
}

.filter-features li {
  position: relative;
  margin-bottom: 21px;

}

.filter-features label {
  padding-left: 36px;
  color: var(--light-black);
}

.input-feature:not(:checked)+.feature-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid var(--dark-grey);
  border-radius: 3px;
  background-color: transparent;
  opacity: 0.4;
}

.input-feature:checked+.feature-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.4;
}

.input-feature:hover+.feature-label::before,
.input-feature:focus+.feature-label::before {
  opacity: 1;
}

.input-feature:disabled+.feature-label {
  opacity: 0.3;
}

.input-feature:disabled+.feature-label::before {
  opacity: 0.25;
}

/* SORT */
.sort {
  display: flex;
  justify-content: space-between;
}

.sort h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  /*
   outline: 5px solid rgba(63, 9, 150, 0.3);
  outline-offset: -5px; */
}

.sort-list {
  /* width: 360px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  /* align-items: baseline; */
  margin: 0;
  padding-top: 3px;
  list-style: none;
  /* outline: 1px solid rgba(0, 255, 255, 0.3);
  outline-offset: -1px; */
}

.sort-list>li:not(:last-child) {
  margin-right: 25px;

}

.sort-container a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;

}

.sort-container a:hover {
  opacity: 0.6;
}

.sort-container .sort-active,
.sort-container a:active {
  opacity: 1;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.arrows {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 60px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.sort-descending {
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir.svg);
}

.sort-ascending {
  background-image: url(../img/icon-up-dir.svg);
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 19px;
}




/* STORE */
.store {
  margin-bottom: 44px;
}

.store-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  /* outline: 5px solid rgba(47, 219, 12, 0.3);
  outline-offset: -5px; */
}

.store-item {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 620px;
  border-radius: 5px;
  list-style: none;
}

.store-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.store-item-container {
  box-sizing: border-box;
  width: 360px;
  height: 580px;
  margin-top: 40px;
  background-color: var(--bg-white);
  border: 1px solid var(--catalog-border-special);
  border-radius: 0 0 5px 5px;
}

.store-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  opacity: 0.12;
}

.store-item:hover::before {
  opacity: 1;
}

.store-item:hover .store-item-description {
  display: block;
}

.store h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

}

.store-item img {
  width: 358px;
  height: 578px;
  margin: 0;
  object-fit: contain;
  background-color: var(--light-grey);
}

.store-item-description {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 360px;
  height: 231px;
  padding-left: 52px;
  padding-right: 53px;
  padding-top: 11px;
  text-align: center;
  background-color: var(--light-grey);
  border-radius: 0 0 5px 5px;
}

.store-item-description h3 {
  margin-top: 15px;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.store-item-description h3:hover {
  color: var(--light-pink);
}

.store-item-description h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.store-item-description a {
  color: inherit;
}

.store-item p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--mid-grey);
}

/* STORE-PAGES */
.store-pages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.store-pages li:not(:last-child) {
  margin-right: 11px;
}


/*footer*/

.main-footer {
  background-color: var(--bg-white);
}

.map {
  margin: 0;
}

.map-properties {
  display: block;
  height: 416px;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  position: relative;
  margin-bottom: 68px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.address {
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  bottom: 54px;
  width: 319px;
  height: 308px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 39px;
  font-size: 16px;
  line-height: 18px;
  color: var(--mid-grey);
  background-color: var(--bg-white);
}

.contacts-phone {
  color: var(--mid-grey);
}


.social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 68px;
}

.social-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-1 li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-2 {
  margin-left: 14px;
}

.social h3 {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;

}

.social p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--mid-dark-grey);
}

/* MODAL */
.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  margin: auto;
  padding: 63px 100px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--bg-white);
  box-shadow: 0px 20px 40px var(--modal-shadow);
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 78px;
  right: 90px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;
  width: 27px;
  height: 4px;
  background-color: var(--light-pink);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-header {
  margin: 0;
  margin-bottom: 22px;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 0 auto;
  justify-items: start;
}

.user-message {
  grid-column: 1/-1;
  justify-self: stretch;
}

.login-form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.login-form label {
  margin-bottom: 9px;
  font-weight: 700;
}

.login-form input {
  height: 50px;
  width: 360px;
  padding-left: 16px;
  color: var(--mid-dark-grey);
}

.login-form textarea {
  resize: none;
  height: 118px;
  margin-bottom: 30px;
  padding: 16px;
  color: var(--mid-dark-grey);

}

.login-form input,
.login-form textarea {
  box-sizing: border-box;
  border: 2px solid var(--input-border);
  border-radius: 3px;
  opacity: 0.5;
}

.login-form input:hover,
.login-form textarea:hover {
  border: 2px solid var(--input-border-special);
  /* text-shadow: 0px 4px 4px var(--input-shadow); */
}

.login-form input:focus:invalid,
:-moz-ui-invalid {
  color: var(--dark-pink);
  border-color: var(--dark-pink);
}



/*buttons*/
.slider-button {
  width: 240px;
  height: 50px;
  margin-top: 39px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--bg-white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:active {
  color: var(--bg-white-opacity);
  box-shadow: inset 0 3px 0 var(--button-shadow);
}


.button-services {
  margin-top: 31px;
  width: 160px;
  height: 50px;
}

.button-contacts {
  margin-top: 38px;
  width: 219px;
  height: 50px;
}

.button-web {
  background-color: var(--light-pink);
}

.button-web:hover {
  background-color: var(--dark-pink);
}

.button-web:active {
  background-color: var(--very-dark-pink);
}



.button-app {
  background-color: var(--light-green);
}

.button-app:hover {
  background-color: var(--dark-green);
}

.button-app:active {
  background-color: var(--very-dark-green);
}

.button-pres {
  background-color: var(--light-yellow);
}

.button-pres:hover {
  background-color: var(--dark-yellow);
}

.button-pres:active {
  background-color: var(--very-dark-yellow);
}

/* STORE-ITEM-BUTTON */
.store-item-button {
  width: 200px;
  height: 50px;

  margin: 0 auto;
  margin-top: 33px;
}

.store-item-button:active {
  color: var(--bg-white);
}

/* STORE-PAGE-BUTTONS */
.store-page {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  padding-top: 3px;
  color: var(--basic-black);
  background-color: var(--light-grey);
}

.store-page.button:hover {
  background-color: var(--store-page-grey);
  border: none;
}

.store-page.button:active {
  color: inherit;
  background-color: var(--store-page-active-grey);
  border: none;
}

.store-page-next {
  width: 260px;
  height: 50px;
}

.store-page-current {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--border-grey);
}


/* SOCIAL BUTTONS */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--icon-color);
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--dark-pink);
}

.social-button:active {
  background-color: var(--very-dark-pink);
}

.social-button:active img {
  opacity: 0.3;
}

.modal-button {
  width: 259px;
  height: 50px;
}
