:root {
  --light-grey: #eeeeee;
  --mid-grey: #666666;
  --mid-dark-grey: #444444;
  --dark-grey: #4d4d4d;
  --border-grey: #DBDBDB;

  --light-pink: #fb265a;
  --dark-pink: #e74246;
  --very-dark-pink: #d7373b;

  --light-green: #00ca74;
  --dark-green: #00bc6c;
  --very-dark-green: #00aa62;

  --light-yellow: #efc849;
  --dark-yellow: #eab534;
  --very-dark-yellow: #e5a722;

  --bg-white: #ffffff;
  --icon-color: #e1e1e1;

  --basic-black: #000000;
  --light-black: #283136;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Open sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--basic-black);
  background-color: var(--bg-white);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  /* outline: 5px solid rgba(94, 9, 9, 0.3);
  outline-offset: -5px; */
}

/*header*/


.main-header {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 114px;
}

.main-logo {
  width: 160px;
  height: 65px;
  margin-top: auto;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.cart {

  margin: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(238, 9, 9, 0.3);
  outline-offset: -5px
}

.header,
.description {
  background-color: var(--light-grey);
}

.nav {
  display: grid;
  grid-template-columns: 1fr min-content;


  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);

  outline: 5px solid rgba(200, 255, 0, 0.3);
  outline-offset: -5px;
}

.nav a {
  color: var(--basic-black);
}

.nav a:hover {
  color: var(--light-pink);
}

.nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav-list {
  /* justify-self: center; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-top: auto;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;

}

.nav li {
  margin: 0;
  padding: 0;
}

.nav li:not(:last-child) {
  margin-right: 45px;
}

.slider {
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
}


.slider h2 {
  font-size: 55px;
  line-height: 55px;

}

/* services */
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: start;
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
  margin: 0;
  padding: 0;

}

.services a {
  font-size: 16px;
  line-height: 18px;
  color: var(--bg-white);
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.services li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* width: 1160px;
  margin: 0 auto; */
}

.info {
  color: var(--light-black);
}

.info h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

/* benefits */
.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 0 auto; */
}

.list-header {
  font-weight: bold;
  text-transform: uppercase;

}

.benefits-list {
  padding: 0;
}

.benefits li {
  list-style: none;
}

.benefits p {
  color: var(--light-black);
}

.benefits h4 {
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

/* partners */
.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;

}

.partners li {
  list-style: none;
}

.partners a {
  opacity: 20%;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 10%;
}

/*catalog*/
/* .catalog-header {
  display: flex;


  padding: 0;
  padding-bottom: 4px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
} */

.catalog-top h1 {
  margin: 0;

  text-align: center;
  background-color: var(--light-grey);
}

/* .nav-catalog {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: auto;
  padding: 0;
  outline: 5px solid rgba(238, 9, 9, 0.3);
  outline-offset: -5px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
} */

/* .nav-list-catalog {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  width: 437px;
  height: 30px;
  margin: auto;
  padding: 0;
  align-content: flex-end;
  outline: 5px solid rgba(161, 48, 226, 0.3);
  outline-offset: -5px;
  list-style: none;
} */



.main-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px;
  grid-template-rows: min-content 1fr;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.store-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
  outline: 5px solid rgba(47, 219, 12, 0.3);
  outline-offset: -5px;
}

.store h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

}

.store-item a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.store-pages a {
  font-size: 16;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}

.store-pages {
  display: flex;
  justify-content: flex-start;

  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.store-pages li {

  list-style: none;
}

.store-pages a {
  margin: auto;
  padding: 0;
}

.store-page {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 11px;
  border: 3px solid var(--border-grey);
  border-radius: 3px;
}

.store-page-next {
  width: auto;
  height: 50px;
  padding: 0;
  margin: auto 0;
  border: 3px solid var(--border-grey);
  border-radius: 3px;
}


.sort {
  display: flex;
  justify-content: space-between;
  margin: auto 0;

  padding: 0;

}

.sort h2 {
  width: 360px;

  outline: 5px solid rgba(63, 9, 150, 0.3);
  outline-offset: -5px;
}

.sort ul {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
}

.sort .sort-active {
  opacity: 1;
}

.sort li {
  list-style: none;
}

.filters {
  grid-row: 1/-1;
  color: var(--light-black);

  width: 260px;
}

.filter {
  outline: 5px solid rgba(94, 255, 0, 0.3);
  outline-offset: -5px;
}

.sort h2,
.filter legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}


.filter fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.filter .filter-cost {
  margin-bottom: 54px;

  background-color: var(--light-grey);
}

.filter .filter-grid {

  margin-bottom: 43px;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.filter .filter-features {
  margin-bottom: 48px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

/* store */

.store li {
  list-style: none;
}


/*footer*/

.main-footer {
  background-color: var(--bg-white);
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
}

.map-properties {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.social-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social-container-1 {
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
  padding: 0;


  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;


}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.address {
  font-size: 16px;
  line-height: 18px;
  color: var(--mid-grey);
}

.contacts-phone {
  color: var(--mid-grey);
}



.social h3 {
  font-size: 36px;
  line-height: 36px;
  /* text-align: center; */
}

.social p {
  color: var(--mid-dark-grey);
  font-size: 16px;
  line-height: 22px;
}

.social-button-container {
  width: 81px;
  height: 81px;
  margin-right: 10px;


  outline: 5px solid rgba(9, 240, 28, 0.3);
  outline-offset: -5px;
}

.main-footer li {
  list-style: none;
}

/*buttons*/
.button {
  font: inherit;
  text-transform: uppercase;
  color: var(--bg-white);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: center;
  border-width: 0px;
  border-radius: 3px;
}

.button:active {
  box-shadow: 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-web {
  background-color: var(--light-pink);
}

.button-web:hover {
  background-color: var(--dark-pink);
}

.button-web:active {
  background-color: var(--very-dark-pink);
}



.button-app {
  background-color: var(--light-green);
}

.button-app:hover {
  background-color: var(--dark-green);
}

.button-app:active {
  background-color: var(--very-dark-green);
}

.button-pres {
  background-color: var(--light-yellow);
}

.button-pres:hover {
  background-color: var(--dark-yellow);
}

.button-pres:active {
  background-color: var(--very-dark-yellow);
}

.catalog-button {
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}
